@import "tailwindcss";

:root {
  --background: #ffffff;
  --white: #ffffff;
  --black: #0c0c0c;
  --primary: #748c70;
  --font-family: var(--font-montserrat);
}

@theme {
  --color-primary-900: #0d100c;
  --color-primary-800: #272f25;
  --color-primary-750: #343e32;
  --color-primary-700: #404e3e;
  --color-primary-600: #5a6d57;
  --color-primary-500: var(--primary);
  --color-primary-400: #839980;
  --color-primary-300: #93a690;
  --color-primary-200: #93a690;
  --color-primary-100: #b2bfaf;
  --color-primary-50: #d1d9cf;
  --color-primary-25: #f0f2ef;

  --color-black: var(--black);
  --color-white: var(--white);

  --color-gray-900: #202020;
  --color-gray-800: #404040;
  --color-gray-700: #606060;
  --color-gray-600: #868686;
  --color-gray-500: #adadad;
  --color-gray-400: #cbcbcb;
  --color-gray-300: #dfdfdf;
  --color-gray-200: #ededed;
  --color-gray-100: #f9f9f9;

  --color-error: #c30000;
  --color-error-bg: #fff2f2;

  --color-warning: #e09126;
  --color-warning-bg: #f7e4c9;

  --color-success: #00966d;
  --color-success-bg: #f3fdfa;

  --text-display-1: 64px;
  --text-display-2: 56px;
  --text-body-xl: 20px;
  --text-body-lg: 18px;
  --text-body-md: 16px;
  --text-body-sm: 14px;
  --text-body-xs: 12px;
  --text-caption-lg: 14px;
  --text-caption-md: 12px;
  --text-caption-sm: 10px;
  --text-button-lg: 16px;
  --text-button-sm: 14px;
  --text-overline-lg: 16px;
  --text-overline-sm: 12px;
}
@media (max-width: 768px) {
  :root {
    --text-display-1: 40px;
    --text-display-2: 36px;
    --text-body-xl: 18px;
    --text-body-lg: 16px;
    --text-body-md: 14px;
    --text-body-sm: 13px;
    --text-body-xs: 11px;
    --text-caption-lg: 13px;
    --text-caption-md: 11px;
    --text-caption-sm: 9px;
    --text-button-lg: 14px;
    --text-button-sm: 13px;
    --text-overline-lg: 14px;
    --text-overline-sm: 11px;
  }
}

body {
  background: var(--background);
  font-family: var(--font-family) !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  input,
  textarea,
  button,
  a {
    outline: none;
  }
  input,
  textarea,
  .select {
    @apply h-[40] border border-white px-3 text-caption-lg font-medium placeholder:text-caption-lg placeholder:font-medium text-neutral-800 placeholder:text-neutral-400;
  }
}

@layer utilities {
  .container {
    max-width: 1224px;
    margin: auto;
  }
}
